Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^vendors/(.*)$ /web/vendors/$1 [L]
RewriteRule ^build/(.*)$ /web/build/$1 [L]
RewriteRule ^form/(.*)$ /web/form/$1 [L]
RewriteRule ^css/(.*)$ web/css/$1 [L]
RewriteRule ^images/(.*)$ /web/images/$1 [L]
RewriteRule ^uploads/(.*)$ web/uploads/$1 [L]
RewriteRule (.*)$ /web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php
